extends layout

block content
  div.container
    div#order.col-md-6
      h3#orderid Id: #{order._id}
      h3#ordercustomer: a(href='http://178.62.15.16:3000/customer/#{order.customer._id}') Name: #{ order.customer.companyName}
      h3#ordercustomercontact Contact: #{ order.customer.contactName}
      h3#orderemployee: a(href='http://178.62.15.16:3000/employee/#{order.employee._id}') Employee: #{ order.employee.firstName}
      h3#orderdate Date: #{ order.orderDate}
      h3#orderrequired Require: #{ order.requiredDate}
    div.col-md-6
      h3#ordershipped Shipped: #{ order.shippedDate}
      h3#ordername Shipname: #{ order.shipName}
      h3#orderadress Address: #{ order.shipAddress}
      h3#ordercity City: #{order.shipCity}
      h3#orderzip Zip: #{order.shipPostalCode}
      h3#ordercountry Country: #{order.shipCountry}
      br
      br
    div#table.container
      table.table
        tr
          th Product
          th UnitPrice
          th Quantity
          th Discount
          th Price  
        for detail in details
          tr
            td: p= detail.product.name
            td: p= detail.unitPrice
            td: p= detail.quantity 
            td: p= detail.discount
            td: p= detail.totalPrice

  br
  div#backbutton.text-center  
    a.btn.btn-primary.bottom(onclick='history.go(-1)') back  
